<doctype html>
<html>
  <head>
    <title>Ejs</title>
    <link href='./css/style.css' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link link rel="stylesheet" href="./css/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="./css/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/metismenu/metisMenu.css">
    <link rel="stylesheet" href="./css/onoffcanvas/onoffcanvas.css">
    <link rel="stylesheet" href="./css/animate.css/animate.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>