<html>
<head>
  <title>Privacy Policy</title>
</head>
<body>
  <h1>Terms For The Privacy Policy</h1>
  <p>In this node app I'll not violate the terms and conditions given by the facebook.</p>
</body>
</html>
